@import uk.gov.hmrc.agentsregfrontend.models.Agent
@import uk.gov.hmrc.govukfrontend.views.html.components._
@this(layout: Layout)

@(arn: String)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = Some("Successful Registration")) {
<div class="govuk-panel govuk-panel--confirmation">
    <h1 id="success" class="govuk-panel__title">
        Application complete
    </h1>
    <div id="arn" class="govuk-panel__body">
        Your Agent Reference Number:<br><strong>@arn</strong>
    </div>
    <br>
</div>
<br>
<a name="next-button" href="http://localhost:9005/agents-frontend/agent-login" class="govuk-button" data-module="govuk-button" type="submit">Sign in Here</a>

}