@import uk.gov.hmrc.agentsregfrontend.models.BusinessName
@import uk.gov.hmrc.govukfrontend.views.html.components._
@this(layout: Layout, govukInput : GovukInput, govukErrorSummary : GovukErrorSummary)

@(form: Form[BusinessName], isUpdate: Boolean)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = Some("Business Name Details")) {
@if(!isUpdate) {
<a href="http://localhost:9005/agents-frontend/start-page" class="govuk-back-link">Back</a>
}
@if(form.errors.nonEmpty) {
@defining(form.errors.map { error =>
ErrorLink(href = Some(s"#${error.key}"), content = Text(messages(error.message, error.args:_*)))
}) {errorLinks => @govukErrorSummary(ErrorSummary(
errorList = errorLinks,
title = Text(messages("There is a problem"))
))
}
}
@helper.form(uk.gov.hmrc.agentsregfrontend.controllers.routes.BusinessNameController.processBusinessName(isUpdate)) {
<div class="govuk-form-group">
    @if(form.errors("businessName").nonEmpty) {
    @govukInput(Input(
    id = "businessName",
    name = "businessName",
    value = Some(form.data("businessName")),
    hint = Some(Hint(content = Text("Enter the registered name of your business, this cannot be changed once submitted at the end"))),
    errorMessage = Some(ErrorMessage(
    content = Text("What is your registered business name?"))),
    label = Label(
    isPageHeading = true,
    classes = "govuk-label--l",
    content = Text("Business Name")
    )
    ))
    } else {
    @govukInput(Input(
    id = "businessName",
    name = "businessName",
    value = Some(form.data("businessName")),
    hint = Some(Hint(content = Text("Enter the registered name of your business, this cannot be changed once submitted at the end"))),
    label = Label(
    isPageHeading = true,
    classes = "govuk-label--l",
    content = Text("What is your registered business name?")
    )
    ))
    }
    <br>
    <button id="next-button" class="govuk-button" data-module="govuk-button">
        Continue
    </button>
    @if(isUpdate) {
    <hr>
    <a href="@uk.gov.hmrc.agentsregfrontend.controllers.routes.SummaryController.summary" class="govuk-link cancel">Cancel</a>
    }
</div>
}
}