@import uk.gov.hmrc.agentsregfrontend.models.ContactNumber
@import uk.gov.hmrc.govukfrontend.views.html.components._
@this(layout: Layout, govukInput : GovukInput, govukErrorSummary : GovukErrorSummary, govukButton: GovukButton)

@(form: Form[ContactNumber])(implicit request: Request[_], messages: Messages)

@layout(pageTitle = Some("Contact Details")) {
    <a href="/example-frontend/date" class="govuk-back-link">Back</a>
    <h1 class="govuk-heading-xl">Enter Contact Number</h1>
    @if(form.errors.nonEmpty) {
        @defining(form.errors.map { error =>
            ErrorLink(href = Some(s"#${error.key}"), content = Text(messages(error.message, error.args:_*)))
        }) { errorLinks => @govukErrorSummary(ErrorSummary(
            errorList = errorLinks,
            title = Text(messages("error.summary.title"))
        ))
        }
    }
    @helper.form(uk.gov.hmrc.agentsregfrontend.controllers.routes.EmailController.processEmail()) {

        <div class="govuk-form-group">
            @if(form.errors("number").nonEmpty) {
                @govukInput(Input(
                    id = "number",
                    name = "number",
                    classes = "govuk-input--width-10",
                    errorMessage = Some(ErrorMessage(
                        content = Text("Please enter a valid phone number"))),
                    label = Label(
                        isPageHeading = true,
                        classes = "govuk-label--m",
                        content = Text("Contact Number")
                    )
                ))
            } else {
                @govukInput(Input(
                    id = "number",
                    name = "number",
                    classes = "govuk-input--width-10",
                    label = Label(
                        isPageHeading = true,
                        classes = "govuk-label--m",
                        content = Text("Contact Number")
                    )
                ))
            }
            <br>
            <button id="next-button" class="govuk-button" data-module="govuk-button">
                Next
            </button>
        </div>
    }
}