@import uk.gov.hmrc.agentsregfrontend.models.Correspondence
@import uk.gov.hmrc.govukfrontend.views.html.components._
@this(layout: Layout, govukCheckboxes : GovukCheckboxes)

@(form: Form[Correspondence])(implicit request: Request[_], messages: Messages)

@layout(pageTitle = Some("Contact Details")) {
  <a href="/example-frontend/date" class="govuk-back-link">Back</a>

  @helper.form(uk.gov.hmrc.agentsregfrontend.controllers.routes.CorrespondenceController.processCorrespondence()) {

      @govukCheckboxes(Checkboxes(
      fieldset = Some(Fieldset(
      legend = Some(Legend(
      content = Text("What modes of correspondence would you like to be contacted with?"),
      classes = "govuk-fieldset__legend--l",
      isPageHeading = true
      ))
      )),
      hint = Some(Hint(
      content = Text("Select all that apply.")
      )),
      idPrefix = Some("modes"),
      name = "modes",
      items = Seq(
      CheckboxItem(
      content = Text("Phone Call"),
      value = "call"
      ),
      CheckboxItem(
      content = Text("Text Message"),
      value = "text"
      ),
      CheckboxItem(
      content = Text("Email"),
      value = "email"
      ),
      CheckboxItem(
      content = Text("Letter"),
      value = "letter"
      )
      )
      ))
        <br>
        <button id="next-button" class="govuk-button" data-module="govuk-button">
            Next
        </button>

      }
}
