@import uk.gov.hmrc.agentsregfrontend.models.Email
@import uk.gov.hmrc.govukfrontend.views.html.components._
@this(layout: Layout, govukInput : GovukInput, govukErrorSummary : GovukErrorSummary)

@(form: Form[Email], isUpdate: Boolean)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = Some("Email")) {
@if(!isUpdate) {
<a href="@uk.gov.hmrc.agentsregfrontend.controllers.routes.BusinessNameController.displayBusinessNamePage(false)" class="govuk-back-link">Back</a>
}
<h1 class="govuk-heading-xl">Enter Email Address </h1>
@if(form.errors.nonEmpty) {
@defining(form.errors.map { error =>
ErrorLink(href = Some(s"#${error.key}"), content = Text(messages(error.message, error.args:_*)))
}) { errorLinks => @govukErrorSummary(ErrorSummary(
errorList = errorLinks,
title = Text(messages("There is a problem"))
))
}
}
@helper.form(uk.gov.hmrc.agentsregfrontend.controllers.routes.EmailController.processEmail(isUpdate)) {

<div class="govuk-form-group">
    @if(form.errors("email").nonEmpty) {
    @govukInput(Input(
    id = "email",
    name = "email",
    value = Some(form.data("email")),
    classes = "govuk-input--width-10",
    hint = Some(Hint(content = Text("Enter your preferred email which you would like to be contacted on - 'John@hotmail.com'"))),
    errorMessage = Some(ErrorMessage(
    content = Text("Please enter a valid email address"))),
    label = Label(
    isPageHeading = true,
    classes = "govuk-label--m",
    content = Text("Email")
    )
    ))
    } else {
    @govukInput(Input(
    id = "email",
    name = "email",
    value = Some(form.data("email")),
    classes = "govuk-input--width-10",
    hint = Some(Hint(content = Text("Enter your preferred email which you would like to be contacted on - 'John@hotmail.com'"))),
    label = Label(
    isPageHeading = true,
    classes = "govuk-label--m",
    content = Text("Email")
    )
    ))
    }
    <br>
    <button id="next-button" class="govuk-button" data-module="govuk-button">
        Continue
    </button>
    @if(isUpdate) {
    <hr>
    <a href="@uk.gov.hmrc.agentsregfrontend.controllers.routes.SummaryController.summary" class="govuk-link cancel">Cancel</a>
    }
</div>
}
}