@import uk.gov.hmrc.agentsregfrontend.models.Password
@import uk.gov.hmrc.govukfrontend.views.html.components._
@this(layout: Layout, govukInput : GovukInput, govukErrorSummary : GovukErrorSummary, govukButton: GovukButton)

@(form: Form[Password])(implicit request: Request[_], messages: Messages)

@layout(pageTitle = Some("Password")) {
<a href="@request.headers.get("referer")" class="govuk-back-link">Back</a>
<h1 class="govuk-heading-xl">Set your Password</h1>
@if(form.errors.nonEmpty) {@defining(form.errors.map { error => ErrorLink(href = Some(s"#${error.key}"), content = Text(messages(error.message, error.args:_*)))}) { errorLinks => @govukErrorSummary(ErrorSummary(errorList = errorLinks,title = Text(messages("There is a problem"))))}}

@helper.form(uk.gov.hmrc.agentsregfrontend.controllers.routes.PasswordController.processPassword()) {

<div class="govuk-form-group">
    @if(form.errors("password").nonEmpty) {@govukInput(Input(id = "password", name = "password", inputType = "password", hint = Some(Hint(content = Text("Your password must be 10 or more characters. You can use a mix of letters, numbers or symbols."))), classes = "govuk-input--width-10", errorMessage = Some(ErrorMessage(content = Text("Password needs to be of minimum 10 characters"))), label = Label(isPageHeading = true, classes = "govuk-label--m", content = Text("Password"))))
    } else { @govukInput(Input(id = "password", name = "password", inputType = "password", classes = "govuk-input--width-10", hint = Some(Hint(content = Text("Your password must be 10 or more characters. You can use a mix of letters, numbers or symbols."))), label = Label(isPageHeading = true, classes = "govuk-label--m", content = Text("Password"))))}
    <br>
    @if(form.errors("passwordCheck").nonEmpty) {@govukInput(Input(id = "passwordCheck", name = "passwordCheck", inputType = "password", classes = "govuk-input--width-10", hint = Some(Hint(content = Text("Enter the same password as the one you entered above"))), errorMessage = Some(ErrorMessage(content = Text("Please enter the matching password"))), label = Label(isPageHeading = true, classes = "govuk-label--m", content = Text("Retype Password"))))
    } else { @govukInput(Input(id = "passwordCheck", name = "passwordCheck", inputType = "password", classes = "govuk-input--width-10", hint = Some(Hint(content = Text("Enter the same password as the one you entered above"))), label = Label(isPageHeading = true, classes = "govuk-label--m", content = Text("Retype Password"))))}
    <br>
    <button id="next-button" class="govuk-button" data-module="govuk-button">
        Next
    </button>
</div>
}
}