@import uk.gov.hmrc.agentsregfrontend.models.RegisteringUser
@import uk.gov.hmrc.govukfrontend.views.html.components._
@this(layout: Layout, govukSummaryList : GovukSummaryList)

@(user: RegisteringUser)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = Some("Summary")) {
<a href="/example-frontend/date" class="govuk-back-link">Back</a>
<h1 class="govuk-heading-xl">Summary</h1>
@govukSummaryList(SummaryList(
rows = Seq(
SummaryListRow(
key = Key(
content = Text("Business Name")
),
value = Value(
content = Text(user.businessName)
),
actions = Some(Actions(
items = Seq(
ActionItem(
href = "/registration/businessName/true",
content = Text("Change"),
visuallyHiddenText = Some("name")
)
)
))
),
SummaryListRow(
key = Key(
content = Text("Email")
),
value = Value(
content = Text(user.email)
),
actions = Some(Actions(
items = Seq(
ActionItem(
href = "/registration/email/true",
content = Text("Change"),
visuallyHiddenText = Some("date of birth")
)
)
))
),
SummaryListRow(
key = Key(
content = Text("Contact Number")
),
value = Value(
content = Text(user.mobileNumber.toString())
),
actions = Some(Actions(
items = Seq(
ActionItem(
href = "/registration/contactNumber/true",
content = Text("Change"),
visuallyHiddenText = Some("contact information")
)
)
))
),
SummaryListRow(
key = Key(
content = Text("Correspondence")
),
value = Value(
content = Text(user.moc.mkString(", "))
),
actions = Some(Actions(
items = Seq(
ActionItem(
href = "/registration/correspondence/true",
content = Text("Change"),
visuallyHiddenText = Some("contact details")
)
)
))
),
SummaryListRow(
key = Key(
content = Text("Address")
),
value = Value(
content = Text(user.propertyNumber+", "+user.postcode)
),
actions = Some(Actions(
items = Seq(
ActionItem(
href = "/registration/address/true",
content = Text("Change"),
visuallyHiddenText = Some("contact details")
)
)
))
)
)
))
<form action="@uk.gov.hmrc.agentsregfrontend.controllers.routes.SummaryController.getArn()">
    <button class="govuk-button" data-module="govuk-button">Submit</button>
</form>
}